<div class="card text-center " style="margin-top: 30px; margin-left: 30px; margin-right: 30px; border-bottom-color: black;">
  <div class="card-header text-white bg-dark" style="border-bottom-color: black;">
    Michele Verriello
  </div>
  <div class="card-body text-white bg-dark" style="padding-left: 30px; padding-right: 30px;">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">Registrazione e login usando Angular, Spring e MySQL</p>
    <a href="/registrazione" class="btn btn-primary">Registrati</a>&nbsp;&nbsp;&nbsp;
    <a href="/login" class="btn btn-primary">Accedi</a>
  </div>
</div>
<router-outlet></router-outlet>
